.homepage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.homepage-header{
    inline-size: 1040px;
    background-color: hwb(211 40% 18%);
    color: white;
    padding: 1rem;
    text-align: center;
    border-radius: 8px;
}



/* Contenedor principal de la navegación */
.homepage-nav {
    margin-block-start: 20px;
    display: flex;
    justify-content: center; /* Centra los enlaces horizontalmente */
    background-color: hsl(197, 64%, 60%); /* Fondo oscuro para la barra */
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Enlaces dentro de la navegación */
.nav-link {
    inline-size: 500px;
    block-size: 500px;
    display: flex; /* Activa Flexbox */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    text-align: center;
    text-decoration: none; /* Quita el subrayado de los enlaces */
    color: hsl(0, 51%, 93%); /* Texto blanco */
    font-size: 55px; /* Tamaño del texto */
    font-weight: bold; /* Negrita */
    padding: 30px 100px; /* Espaciado interno */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transiciones suaves */
    border-radius: 4px; /* Bordes redondeados */
}


/* Estilo al pasar el ratón por encima */
.nav-link:hover {
    background-color: hwb(194 85% 6%); /* Fondo más claro al pasar el ratón */
    color: hsl(196, 84%, 65%); /* Cambia el texto a amarillo dorado */
}



